---
import Life from "components/Life.astro";
import Navbar from "components/Navbar";
import { get } from "lodash-es";

export interface Props {
  title?: string;
  content?: any;
}

const { title, content } = Astro.props as Props;
console.log(Astro.props);
export const life = {
  health: {
    nutrition: { groceries: {}, recipes: {} },
    sleep: {},
    exercise: {},
    skincare: {},
  },
  fun: { chess: {}, guitar: {}, climbing: {} },
  wealth: { budget: {}, spending: {} },
  connection: { social: {}, family: {}, intimate: {} },
  home: { clothes: {} },
  growth: { quotes: {}, studying: {} },
  income: {},
};

const pathArray = Astro.url.pathname.split("/");
// [ '', 'life', 'fun' ]

const data = get(life, pathArray.slice(2), life);
const breadCrumbs = pathArray.map((path, i, arr) => {
  const url = `/${arr.slice(1, i + 1).join("/")}`;

  return { path: `/${path}`, url };
});
console.log(pathArray);
---

<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>akiiza | {title}</title>
  </head>

  <body>
    <Navbar breadCrumbs={breadCrumbs} client:idle />
    {Object.keys(data).length > 0 && <Life data={data} />}
    {
      content ? (
        <article class="prose mx-auto">
          <h2>
            {content.title} by {content.author}
          </h2>
          <slot />
          <p>Written on: {content.date}</p>
        </article>
      ) : (
        <slot />
      )
    }
    <style>
      :root {
        --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
        --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
        --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

        --color-text: hsl(12, 5%, 4%);
        --color-bg: hsl(10, 21%, 95%);
        --color-border: hsl(17, 24%, 90%);
      }

      html {
        font-family: system-ui, sans-serif;
        font-size: var(--font-size-base);
        /* color: var(--color-text); */
        /* background-color: var(--color-bg); */
      }

      body {
        margin: 0;
        overflow: overlay;
      }

      :global(h1) {
        font-size: var(--font-size-xl);
      }

      :global(h2) {
        font-size: var(--font-size-lg);
      }

      :global(code) {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body>
</html>
